@model MVC_Data.Models.PersonView

@{
    ViewData["Title"] = "People List";
}

<h2>Peoples List</h2>

<div class="row input">

    <div class="col-md-8">

        <p>Add person to the peoples list</p>

        <form asp-controller="People" asp-action="Create" method="get">
            <p>
                <input type="text" name="name" value="" placeholder="Name" />
                <input type="number" min="0" name="phone" value="" placeholder="Phone" />
                <input type="text" name="city" value="" placeholder="City" />
            </p>
            <input class="btn btn-danger" type="submit" value="Create" />

        </form>
    </div>

    <div class="col-md-4">

        <p>Filer People</p>

        <form asp-controller="People" asp-action="Index" method="get">
            <p>
                <input type="text" asp-for="SearchString" placeholder="Name or City" />
                <input class="btn btn-danger" type="submit" value="Filter" />
            </p>
        </form>

        <form asp-controller="People" asp-action="Index" method="get">
            <input class="btn btn-danger" type="submit" value="Reset" />
        </form>

    </div>
</div>

<hr />

<div class="list-container">
    <ul>
        @foreach (var item in Model.persons)

        {
            @await Html.PartialAsync("_Person", item)
        }
    </ul>
</div>








