@model MVC_Data.Models.PersonView

@{
    ViewData["Title"] = "People List";
}

<h2>Peoples List</h2>

<p>Add person to the peoples list</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="People" asp-action="Create" method="get">
    <p>
        <input type="text" name="name" value="" placeholder="Name" />
        <input type="number" min="0" name="phone" value="" placeholder="Phone" />
        <input type="text" name="city" value="" placeholder="City" />
        <input class="btn btn-danger" type="submit" value="Create" />
    </p>
</form>

<hr />

<p>Filer Peoples List on Name or City</p>


<form asp-controller="People" asp-action="Index" method="get">
    <p>
        <input type="text" asp-for="SearchString" placeholder="Search for..." />
        <input class="btn btn-danger" type="submit" value="Filter" />
    </p>

</form>

<form asp-controller="People" asp-action="Index" method="get">
    <input class="btn btn-danger" type="submit" value="Reset" />
</form>

<hr />

<p>Peoples list</p>

<div class="listBox">
    <ul>
        @foreach (var item in Model.persons)

        {
            @await Html.PartialAsync("_Person", item)
        }
    </ul>
</div>


